#include "version.h"
#include <winres.h>

1 VERSIONINFO
 FILEVERSION HOOKSHARESSE_VERSION_MAJOR, HOOKSHARESSE_VERSION_MINOR, HOOKSHARESSE_VERSION_PATCH, HOOKSHARESSE_VERSION_BETA
 PRODUCTVERSION HOOKSHARESSE_VERSION_MAJOR, HOOKSHARESSE_VERSION_MINOR, HOOKSHARESSE_VERSION_PATCH, HOOKSHARESSE_VERSION_BETA
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "HookShareSSE"
			VALUE "FileVersion", HOOKSHARESSE_VERSION_VERSTRING
            VALUE "InternalName", "HookShareSSE"
            VALUE "LegalCopyright", "MIT License"
            VALUE "ProductName", "HookShareSSE"
			VALUE "ProductVersion", HOOKSHARESSE_VERSION_VERSTRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
